$bgSection:#49583c;
$image:#2222;
$primary-color:#000;
$heading-text-color:#c0ad74;
$colorClock:#ffba00;

@mixin styleLine() {
    h2::before{
        content: '';
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color:$primary-color;
        margin-right: 10px;
    }
} 


.section{
    background-image: url('../../image/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    @include styleLine();
    h2{
       color:$bgSection;
       font-weight: bold;
       font-size: 2.5rem;
       margin: 20px 0;
      
    }
    p{
        color: $bgSection;
        line-height: 27px;
       }
       .btn{
        outline: none;
        padding: 8px 20px;
        border-radius: 5px;
        background-color:$bgSection;
        color: $bgSection;
        font-size: 1rem;
        margin-top: 40px;
        cursor: pointer;
       }
       a:hover{
        color: #fff;
       }
}

.her_img{
    background:transparent;
    border-radius: 50px;
    margin-bottom: 1.2rem;
}
.her_content{
    padding: 45px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
}
.txt_center{
    .section_title{
    text-align: center;
    color:$bgSection ;
   
}
}

.count_temp{height: 300px;
    background-color: $image;
}
.count_temp{img{width: 70% !important;}}

.limit_clock{
    h3,h4{
        color:$colorClock ;
    }
}
.btn_buy{
    background-color: $bgSection;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
     &:hover{
        background-color: rgb(51, 66, 44);
     }
     a:hover{
        color: #ccc;
     }
}

@media only screen and (max-width:992px){
    .her_content{
        h2{
        font-size: 2rem;
        }
    }
    .section_title{
        font-size: 1.7rem;
    }
    .counter_img{
        display: none;
    }
    .limit_clock{
        text-align: center;
    }
    .countD-col{
        text-align: center;
        display: inline-block;
    }
}


@media only screen and (max-width:768px){
    .her_content{
        h2{
        font-size: 1.6rem;
        }
        p{
            font-size: 0.9rem;
        }
    }
    .btn{
        font-size: 0.9rem;
    }
    .section_title{
        font-size: 1.4rem;
    }
    .btn_buy{
        margin-top: 1.1rem;
    }
}

@media only screen and (max-width:576px){
    .her_content{
        padding-top: 0;
        margin-bottom: 40px;
    }
}