@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200;300 & display=swap');
@import './components/Header/header';
@import './pages/Home/Home';
@import './Services/services';
@import './components/Ui/cardProduct';
@import './components/Footer/footer';
@import './components/Ui/clock';
@import './components/Ui/commonSection';
@import './pages/Shop/shop';
@import './pages/ProductDetail/productDetail';

$hero-bg:#c2ccd5;
$--heading-font:2rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
}
p{color:$hero-bg;
font-size: 1rem;}
h1,h2{
font-size: $--heading-font;
}

ul{list-style: none;}

a{text-decoration: none;color: $hero-bg;cursor: pointer;}

img{
    width: 100%;
}
section{padding: 60px 0px;}


@media only screen and (max-width:768px){
    section{
        padding: 40px 0px;
    }
}

.animeLeft{
    transform: translateX(-20px);
    opacity: 0;
    animation:animeLeft .3s forwards;
}

@keyframes animeLeft{
    to{
        transform: initial;
        opacity: initial;
    }
}


.loader{
    width: 50px;
    height: 50px;
    border: 6px var(--icon-color-lighten) solid;
    border-top: 6px var(--icon-color) solid;
    border-radius: 50%;
    animation: spin-circle .8s infinite linear;
}
 
@keyframes spin-circle {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }