
@media only screen and (max-width:992px){
    .wrapper{
        justify-content: center;
        color: rgb(85, 126, 47);
    }
    .clock_data h1{
        font-size: 1.1rem !important;

        h4{
            font-size: 0.9rem;
        }
    }
}