@mixin gradiente {
    background: linear-gradient(#222,rgba(0, 0, 0, 0)),url('../../image/commonSecti.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.common_section{
    @include gradiente();
    h1{
        color: #fff;
        font-weight: 600;
    }
}

@media only screen and (max-width:768){
   
.common_section{
    padding: 70px 0px;
}
  
.common_section h1{
    font-size: 1.4rem;
}

}